<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration debug="false" scan="true">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %level [%logger:%line] - %msg%n]]></pattern>
        </encoder>
    </appender>

    <logger name="com.acadiasoft" level="DEBUG"/>


    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
